header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
@media only screen and (min-width: 1140px) {
  .h-o-l-o {
    display: none !important;
  }
}


@media only screen and (max-width: 1140px) {
  .h-o-m-d {
    display: none !important;
  }
}